USE [master]
GO
/****** Object:  Database [MotoPedia]    Script Date: 15.11.2025 18:35:17 ******/
CREATE DATABASE [MotoPedia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotoPedia', FILENAME = N'R:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoPedia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotoPedia_log', FILENAME = N'R:\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoPedia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotoPedia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotoPedia]
GO
/****** Object:  User [P4TRVK]    Script Date: 15.11.2025 18:35:17 ******/
CREATE USER [P4TRVK] FOR LOGIN [P4TRVK] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [P4TRVK]
GO
/****** Object:  Table [dbo].[Pojazdy]    Script Date: 15.11.2025 18:35:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pojazdy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[marka] [nvarchar](50) NOT NULL,
	[model] [nvarchar](50) NOT NULL,
	[rok_produkcji] [int] NULL,
 CONSTRAINT [PK_Pojazdy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pojazdy] ON 

INSERT [dbo].[Pojazdy] ([id], [marka], [model], [rok_produkcji]) VALUES (1, N'Ford', N'Mustang', 1969)
INSERT [dbo].[Pojazdy] ([id], [marka], [model], [rok_produkcji]) VALUES (2, N'Volkswagen', N'Golf 7', 2020)
INSERT [dbo].[Pojazdy] ([id], [marka], [model], [rok_produkcji]) VALUES (3, N'BMW', N'M2', 2016)
SET IDENTITY_INSERT [dbo].[Pojazdy] OFF
GO
USE [master]
GO
